{{>header}}
<div class="container mt-4">
    <div class="row">
        <div class="col-sm-3">
            {{>sidebar}}

        </div>
        <div class="col-sm-9">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <h5>
                        Add Blog
                    </h5>
                    <div>
                        <a href="/admin/blogs" class="btn btn-primary">Back</a>

                    </div>
                </div>

                <div class="card-body">
                    <form action="/admin/blog/store" method="POST" enctype="multipart/form-data">

                   
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title" name="title">
                    </div>
                     <div class="mb-3">
                        <label for="slug" class="form-label">Slug</label>
                        <input type="text" class="form-control" id="slug" name="slug">
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Image</label>
                        <input type="file" class="form-control" id="image" name="image">
                    </div>
                    
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" rows="5" name="description"></textarea>
                    </div>
                     <div class="mb-3">
                        <label for="status" class="form-label">Status</label>
                        <select name="status" id="status" class="form-control">
                            <option value="">Select Status</option>
                            <option value="1">Active</option>
                            <option value="0">Inactive</option>

                            
                        </select>
                       
                    </div>
                    <button class="btn btn-primary">Submit</button>
                     </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{>footer}}