{{>header}}
<div class="container mt-4">
    {{#if error}}
    <div class="alert alert-danger" role="alert">
            {{error}}

    </div>
    {{/if}}
    {{#if success}}
    <div class="alert alert-primary" role="alert">
            {{message}}
    </div>
    {{/if}}
    <form action="/create-new-password" method="post">
        <input type="hidden" name="token" value="{{token}}">
        <div>
            <label for="password">Create New Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <button class="btn btn-primary mt-2">Submit</button>
    </form>
</div>
{{>footer}}